# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno (nunca subir a GitHub)
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo
